[Unit]
Description=Trigger PoE Camera and Microcontroller Commands
Wants=network-online.target # Needs access to a network (PoE cameras or internet) 
After=network-online.target # Wait for the network to be online

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /absolute/path/to/lotus-capture.sh
User=root

[Install]
WantedBy=multi-user.target #Execute when OS is stable